[role='tablist'] [aria-selected]
{
    border:solid black 2px;
    background-color:antiquewhite;
    color:black;
   }
[role='tablist'] a {
    text-decoration: none;
    padding: 2px;
    border:1px solid gray;
}
[role='tablist'] li,[role='tablist'] a
{
    display:inline-block;
      
}

[role='tabpanel'] 
{
    border:2px solid black;
    padding:2rem;
    width:20rem;
}